// variables.scss
//    defines various style constants

// color constants
$theme-color: #852722;
$font-color: #e0e0e0;

// various fun images
$flower-img: url('/assets/flower.jpg');
$gas-station-img: url('/assets/gas_station.jpg');
$gameboy-img: url('/assets/gameboy.jpg');
$beach-img: url('/assets/beach.jpg');
$trees-img: url('/assets/trees.jpg');
$shore-img: url('/assets/shore.jpg');

// font constants
$theme-font: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;